work/
results/
/fastq/
/other_fastq/
summary/
.nextflow.lo*
.nextflow/
/*.fasta
/*.pdf
*_archive/
/*.gz
/reference/*.fasta
!/reference/BTV/*.fasta
!/reference/EHDV/*.fasta
!/reference/AHSV/*.fasta
*.swp
