params {

  // ---------------------------------------------
  // Illumina workflow-specific parameter settings
  // ---------------------------------------------

  // ------------------------------------------------
  // viral_consensus-related parameters
  // see: https://github.com/niemasd/ViralConsensus
  // and: doi:10.1093/bioinformatics/btad317
  // ------------------------------------------------

  // minimum quality score for a base to contribute to consensus calling
  illumina_min_qual    =  30
  
  // minimum depth to call a consensus base at a position
  illumina_min_depth   =  5

  // minimum frequency to call a consensus base at a position
  // 25% consensus: plurality base, must be >25%
  illumina_min_freq    =  0.25

}