params {

  // ---------------------------------------------
  // Nanopore workflow-specific parameter settings
  // ---------------------------------------------

  // ------------------------------------------------
  // viral_consensus-related parameters
  // see: https://github.com/niemasd/ViralConsensus
  // and: doi:10.1093/bioinformatics/btad317
  // ------------------------------------------------

  // minimum quality score for a base to contribute to consensus calling
  // since nanopore data, keep lower than for illumina
  nanopore_min_qual    =  10
  
  // minimum depth to call a consensus base at a position
  nanopore_min_depth   =  5

  // minimum frequency to call a consensus base at a position
  // 25% consensus: plurality base, must be >25%
  nanopore_min_freq    =  0.25

}

