singularity.enabled=true

params {

  // -------------------------
  // input/output directories
  // -------------------------
  input_dir       = "$baseDir/fastq/"
  fastq_dir       = "${params.input_dir}"
  reference_dir   = "$baseDir/reference/"	
  outdir	      = "$baseDir/results/"  
  reference_fasta = "${params.reference_dir}/*_refseq.fasta"  
  
  outdir           = "results"
  publish_dir_mode = "link"
  
  // default platform nanopore
  platform        = "null"
 
  // pattern to match for fastq files
  input_pattern       = "*_[12]*.fastq*"
 
  // where scripts written by MDS are found
  script_dir      = "$baseDir/scripts/"
  
}

 // platform specific parameters
params.nanopore = {
  input_pattern = '*.fastq.gz'
}

params.illumina = {
  input_pattern = "*_[12]*.fastq*"
}

manifest {
    name = 'read_preprocessing'
    author = 'Stenglein Lab'
    description = 'A Nextflow pipeline that performs preprocessing on illumina data'
}

params {
    platform = 'illumina'
    subworkflowRepo = 'https://github.com/stenglein-lab/read_preprocessing.git'
    subworkflowBranch = 'main'
    collapse_duplicate_reads = true
}

process {
   // setup saving output files
   withLabel: '!no_publish' {
      publishDir = [
          path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
          mode: params.publish_dir_mode,
      ]
   }
}