params {

  // platform set to illumina
  platform  = "illumina"
  
  // positive control fastq for testing
  fastq_dir = "${baseDir}/test/fastq/illumina/"
  
  //reference for BTV testing
  reference = "${baseDir}/reference/BTV/BTV_premade_refseq.fasta"
  
  // metadata
  metadata = "${baseDir}/test/test_metadata.xlsx"

  // put testing results in test_results illumina folder
  outdir = "${baseDir}/test/results/illumina"
}