params {

  // positive control fastq for testing
  fastq_dir = "${baseDir}/test/fastq/"
  
  // file patterns 
  input_pattern    = "*_R[12]*.fastq*"
  
  //reference for testing
  reference = "${baseDir}/reference/BTV/BTV_premade_refseq.fasta"
  
  // metadata
  metadata = "${baseDir}/test/test_metadata.xlsx"

  // put testing results in test_results folder
  outdir = "${baseDir}/test/results"
}