params {

  // platform set to nanopore
  platform  = "nanopore"
  
  // positive control fastq for testing
  fastq_dir = "${baseDir}/test/fastq/nanopore/"
  
  //reference for BTV testing
  reference = "${baseDir}/reference/BTV/BTV_premade_refseq.fasta"
  
  // metadata
  metadata = "${baseDir}/test/test_metadata.xlsx"

  // put testing results in test results nanopore folder
  outdir = "${baseDir}/test/results/nanopore"
  
  // perform pycoqc on nanopore data ?
  pycoqc = false 
}